.params.span-15.last
- form_tag :controller => "query", :action => "index" do
  .span-15.last
    = label_tag :example, "Enter a search word "
    %span.help ("1451371_at", "AFFX-MURINE_B2_at" or "gnf1m00037_a_at")
  .qbox.span-15.last{:style => "padding-bottom: 20px;"}
    = text_area_tag :query_string, params[:query_string]
  .span-15.last
    .span-15{:style => "padding-bottom: 10px;"}
      = label_tag :filter, "Choose probability filter"
      = select_tag(:filter, options_for_select(ProbesetStat.pval_filters, params[:filter]))
      %br{:style => "padding-bottom: 10px;"}
      = label_tag :filter_value, "Probabily cut-off value"
      = text_field_tag :filter_value, (params[:filter_value] || "0.05"),:size => 5
      %span.help ("0.5" or "2e-10")

  .span-15.last
    .label
      = label_tag :assays, "Choose which experiments to view"
      %br
      = select_tag(:assays, options_for_select(Assay.all.collect {|e| [e.name ,  e.id.to_s] }, params[:assays]), {:multiple => true})
  .span-15.hov= submit_tag "Search"





