.form.span-15.last.push-1{:style => "border-left: 2px double #E5ECF9; padding: 10px;" }
  = render :partial => "form"
.footer.span-15.last.push-1
  .count
    -if @probeset_stats.total_entries != 0
      Total hits #{@probeset_stats.total_entries}
      = will_paginate @probeset_stats , :class => "apple_pagination", :params => params, :inner_window => 2
    -else
      Total hits #{@probeset_stats.total_entries}
.results.span-14.last.push-1
  %table
    -for @probeset_stat in @probeset_stats do
      - @probeset_data = @probeset_stat.probeset_data
      - @probeset = @probeset_stat.probeset
      %tr
        %td
          %table
            %tr
              %td{:colspan=>3}
                -if @probeset_data
                  =image_tag(@probeset_data.chart_url, :alt => "#{@probeset_data.probeset_name} Data")
                -else
                  NO IMAGE
              %td{:colspan=>2}
                %br== <b>Tissue       </b> #{@probeset_stat.assay_name}
                - if @probeset_stat.assay_name == "liver"
                  %br== <b>UCSC RNAseq    </b> #{@probeset.uscs_rna_url}
                %br== <b>Probeset       </b> #{@probeset.probeset_name}
                %br== <b>Links          </b> #{@probeset.wiki_url}  #{@probeset.homolo_gene_url}
                %br== <b>Symbol         </b> #{@probeset.gene_symbol_url }
                %br== <b>Unigene        </b> #{@probeset.unigene_url}
                %br== <b>RefSeq Protein </b> #{@probeset.refseq_protein_url}
                %br== <b>RefSeq DNA     </b> #{@probeset.refseq_transcript_url}
                %br== <b>Description    </b> #{@probeset.gene_title}
            %tr
              %td{:style => "text-align:center" }
                =link_to(image_tag('questionmark_orange3.png', :alt=> "Experiment help page"), results_path())
              %th p-Value
              %th q-Value
              %th period
              %th phase
            %tr
              %th JTK
              %td= @probeset_stat.jtk_p_value
              %td= @probeset_stat.jtk_q_value
              %td= @probeset_stat.jtk_period_length
              %td= @probeset_stat.jtk_lag
            %tr
              %th Lomb Scargle
              %td= @probeset_stat.cosopt_p_value
              %td= @probeset_stat.cosopt_q_value
              %td= @probeset_stat.cosopt_period_length
              %td= @probeset_stat.cosopt_phase
            %tr
              %th DeLichtenberg
              %td= @probeset_stat.fisherg_p_value
              %td= @probeset_stat.fisherg_q_value
              %td= @probeset_stat.fisherg_period_length
              %td <i>NA</i>
            %tr
              %td{:colspan=>5,:style => "text-align:right;"}
                %a(href="#top")back to the top
.footer.span-15.last.push-1
  .count
  -if @probeset_stats.total_entries != 0
    Total hits #{@probeset_stats.total_entries}
    = will_paginate @probeset_stats, :class => "apple_pagination", :params => params
