!!! XML
!!!
%html
  %head
    %meta{:name => "author" , :content=> "Angel Pizarro"}
    %meta{:name => "description" , :content => "CIRCA: Circadian gene expression profiles."}
    %meta{:name => "keywords", :content => "circadian gene experession, transcript profiles, circadian, gene expression, microarray, transcription, Cosopt, mus musculus, mouse, mouse gene expression"}
    = javascript_include_tag :defaults
    = stylesheet_link_tag "screen"
    /[if IE]
      = stylesheet_link_tag "ie"
    = stylesheet_link_tag "print", :media => "print"
    = stylesheet_link_tag "pagination"
    = stylesheet_link_tag "circa"
    %title CIRCA: Circadian gene expression profiles.
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
    %link{:rel => 'apple-touch-icon', :href => 'favicon.ico'}
    :javascript
      function validateForm()
      {
      var x=document.forms["myForm"]["filter_value"].value;
      if (x==null || x=="" || x<=0 || x>1 || isNaN(Number(x)))
        {
        alert("Probabily cut-off value must between 0 and 1");
        return false;
        }
      var x=document.forms["myForm"]["phase_range"].value;
      var minuspos=x.indexOf("-");
      var n=x.split("-");
      if (x==null || x=="" || isNaN(Number(n[1])) || isNaN(Number(n[0]))  )
        {
        alert("Please enter a JTK phase range (e.g. 0-6)");
        return false;
        }
      if (minuspos < 1 || parseFloat(n[1])<parseFloat(n[0]))
        {
        alert(x + " is not a valid range");
        return false;
        }
      }
  %body.span-18.last.container{:style => "margin:auto;" }
    .header.span-18.last
      %h1= link_to( image_tag('CircaDB.png', :alt=> "CIRCA",:name=>"top"), root_path())
      %ul#nav.last
        %span
        %li=link_to("Home", root_path)
        %li=link_to("Help", help_path)
        %li=link_to("About", about_path)
    .news.span-18.last
      %b NEWS (5/16/2013):
      Mouse Distal Colon data sets added to CircaDB.
    .content.span-18.last
      = yield
    .footer.span-18.last
      %ul#nav
        %li
          %a(href="http://www.med.upenn.edu" ) Penn Medicine
          |
          %a(href="http://bioinf.itmat.upenn.edu/home.html") ITMAT Bioninformatics Facility
    / .tail.span-9.last
    /   = link_to( image_tag('DARPA_Logo.png', :alt=> "CIRCA"), "http://www.darpa.mil/")
    .tail.span-18.last
      = link_to( image_tag('NHLBI.png', :alt=> "CIRCA"), "http://www.nhlbi.nih.gov/")
