!!! XML
!!!
%html
  %head
    %meta{:name => "author" , :content=> "Angel Pizarro"}
    %meta{:name => "description" , :content => "CIRCA: Circadian gene expression profiles."}
    %meta{:name => "keywords", :content => "circadian gene experession, transcript profiles, circadian, gene expression, microarray, transcription, Cosopt, mus musculus, mouse, mouse gene expression"}
    = stylesheet_link_tag "screen"
    /[if IE]
    = stylesheet_link_tag "ie"
    = stylesheet_link_tag "print", :media => "print"
    = stylesheet_link_tag "pagination"
    = stylesheet_link_tag "circa"
    %title CIRCA: Circadian gene expression profiles.
  %body.container.span-18.last
    .header.span-18.last
      %h1= link_to( image_tag('circa.png', :alt=> "CIRCA"), root_path())
    .content.span-18.last
      %h6 hallo
    .content.span-18.last
      = yield
    .content.span-18.last
      %h6 hallo
    .footer.span-18.last
      %hr
      .span-18
        =link_to("Hogenesch Lab", "http://bioinf.itmat.upenn.edu/hogeneschlab")
        |
        =link_to("Panda Lab", "http://www.salk.edu/faculty/faculty_details.php?id=65")
      %hr
      .span-17
        Penn Medicine | ITMAT Bioninformatics Facility
    .js
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/jquery-ui.min.js"

