!!! XML
!!!
%html
  %head
    %meta{:name => "author" , :content=> "Angel Pizarro"}
    %meta{:name => "description" , :content => "CIRCA: Circadian gene expression profiles."}
    %meta{:name => "keywords", :content => "circadian gene experession, transcript profiles, circadian, gene expression, microarray, transcription, Cosopt, mus musculus, mouse, mouse gene expression"}
    = stylesheet_link_tag "screen"
    /[if IE]
      = stylesheet_link_tag "ie"
    = stylesheet_link_tag "print", :media => "print"
    = stylesheet_link_tag "pagination"
    = stylesheet_link_tag "circa"
    %title CIRCA: Circadian gene expression profiles.
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
    %link{:rel => 'apple-touch-icon', :href => 'favicon.ico'}
  %body.span-18.last.container
    .header.span-18.last
      %h1= link_to( image_tag('circa_2.png', :alt=> "CIRCA"), root_path())
      %ul#nav.last
        %span
        %li=link_to("Home", root_path)
        %li=link_to("Help", help_path)
        %li=link_to("About", about_path)
    .content.span-18.last
      = yield
    .footer.span-18.last
      %ul#nav
        %li
          Penn Medicine | ITMAT Bioninformatics Facility
    .js
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/jquery-ui.min.js"

