!!! XML
!!!
%html
  %head
    %meta{:name => "author" , :content=> "Angel Pizarro"}
    %meta{:name => "description" , :content => "CIRCA: Circadian gene expression profiles."}
    %meta{:name => "keywords", :content => "circadian gene experession, transcript profiles, circadian, gene expression, microarray, transcription, Cosopt, mus musculus, mouse, mouse gene expression"}
    = stylesheet_link_tag "screen"
    /[if IE]
    = stylesheet_link_tag "ie"
    = stylesheet_link_tag "jquery-ui-1.7.1.custom.css"
    = stylesheet_link_tag "biogps"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
  %body.container.span-8.last
    .header.span-10.last
      .span-6=image_tag("circa-logo-small.png")
      .span-3= link_to @unigene_id, request.url()
    .results.span-10.last
      = yield
    .footer.span-10.last
      = link_to "CIRCA: Main Site", "http://bioinf.itmat.upenn.edu/circa"
      |
      = link_to "John Hogenesch Lab", "http://bioinf.itmat.upenn.edu/hogeneschlab"
      |
      =link_to "ITMAT Bioinformatics Facility", "http://bioinf.itmat.upenn.edu/"
